name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ dhanesvar_cicd }}
          password: ${{ Github@123 }}

      - name: Build Docker image
        run: docker build -t ${{ dhanesvar_cicd }}/ci-cd-app .

      - name: Push Docker image
        run: docker push ${{ dhanesvar_cicd }}/ci-cd-app
